@font-face {
  font-family: Formular;
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/Formular.eot") format("embedded-opentype"),
    url("../fonts/Formular.woff2") format("woff2"), url("../fonts/Formular.woff") format("woff"),
    url("../fonts/Formular.ttf") format("truetype");
}

@font-face {
  font-family: Formular;
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Formular-Medium.eot") format("embedded-opentype"),
    url("../fonts/Formular-Medium.woff2") format("woff2"), url("../fonts/Formular-Medium.woff") format("woff"),
    url("../fonts/Formular-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Formular;
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/Formular-Light.eot") format("embedded-opentype"),
    url("../fonts/Formular-Light.woff2") format("woff2"), url("../fonts/Formular-Medium.woff") format("woff"),
    url("../fonts/Formular-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/Roboto-Light.eot") format("embedded-opentype"),
    url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/Roboto-Regular.eot") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: local(""), url("../fonts/Roboto-Bold.eot") format("embedded-opentype"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Roboto-Medium.eot") format("embedded-opentype"),
    url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.ttf") format("truetype");
}
