.additional {
    margin: 0;
    padding: 0 12px;
    overflow: hidden;

    &__content {
        min-height: 237px;
    }

    &__list {
        margin-bottom: 70px;
    }

    &__title {
        margin-bottom: 38px;
        font-weight: 500;
        font-size: 26px;
        line-height: 1.31;
        text-align: center;
        letter-spacing: 0.04em;
        color: #272727;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        background: #F7F7F7;
        border-radius: 10px;

        &::after {
            content: '';
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
        }

        &:first-of-type {
            &::after {
                top: 20px;
                right: 10px;
                width: 175px;
                height: 175px;
                background-image: url('../../img/additional/01.svg');
            }
        }

        &:nth-of-type(2) {
            &::after {
                top: 20px;
                right: 10px;
                width: 175px;
                height: 175px;
                background-image: url('../../img/additional/04.svg');
            }
        }

        &:nth-of-type(3) {
            &::after {
                top: 20px;
                right: 10px;
                width: 220px;
                height: 175px;
                background-image: url('../../img/additional/02.svg');
            }
        }

        &:nth-of-type(4) {
            &::after {
                top: 20px;
                right: 10px;
                width: 137px;
                height: 175px;
                background-image: url('../../img/additional/05.svg');
            }
        }

        &:nth-of-type(5) {
            &::after {
                top: 20px;
                right: 10px;
                width: 125px;
                height: 175px;
                background-image: url('../../img/additional/03.svg');
            }
        }
    }

    &__subtitle {
        padding: 32px 50px 0 8px;
        font-size: 22px;
        line-height: 1.54;
        letter-spacing: 0.04em;
        color: #272727;
    }

    &__services {
        margin-top: 20px;
        padding: 0 15px;
    }

    &__service-item {
        font-weight: 300;
        font-size: 16px;
        line-height: 2.19;
        letter-spacing: 0.03em;
        color: #272727;

        &::before {
            content: '\2014';
        }
    }

    &__arrow {
        display: block;
        width: 67px;
        height: 59px;
        border-radius: 0 0 10px;
        margin-left: auto;
        background-color: #eaeeee;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('../../icon/arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .additional {
        padding: 0 20px;

        &__title {
            margin-bottom: 60px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 54px;
        }

        &__item {
            width: calc(50% - 10px);
            margin-right: 20px;
            margin-bottom: 27px;

            &:nth-of-type(even) {
                margin-right: 0;
            }
        }

        &__subtitle {
            padding: 32px 115px 0 28px;
        }

        &__services {
            padding: 0 70px 0 28px;
        }
    }
}

@media screen and (min-width: 1440px) {

    .additional {
        width: 1190px;
        margin: 0 auto;
        padding: 0;
        overflow: visible;

        &__title {
            text-align: left;
        }

        &__list {
            margin-bottom: 72px;
        }

        &__item {
            width: calc(50% - 45px);
            margin-right: 90px;

            &:nth-of-type(even) {
                margin-right: 0;
            }

            &:first-of-type {
                &::after {
                    width: 189px;
                    height: 265px;
                    left: auto;
                    right: 10px;
                    top: 0;
                }
            }

            &:nth-of-type(2) {
                &::after {
                    width: 169px;
                    height: 250px;
                    left: auto;
                    right: 10px;
                    top: 20px;
                }
            }

            &:nth-of-type(3) {
                &::after {
                    width: 281px;
                    height: 213px;
                    left: auto;
                    right: -10px;
                    top: 15px;
                }
            }

            &:nth-of-type(4) {
                &::after {
                    width: 167px;
                    height: 251px;
                    left: auto;
                    right: 13px;
                    top: 0;
                }
            }

            &:nth-of-type(5) {
                &::after {
                    width: 169px;
                    height: 220px;
                    left: auto;
                    right: 10px;
                    top: 10px;
                }
            }
        }

        &__subtitle {
            padding: 32px 190px 0 50px;
            font-size: 26px;
        }

        &__services {
            padding-right: 190px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .additional {
        &__item {
            &::after {
                max-width: 20%;
            }
        }

        &__services {
            padding-right: 20%;
        }
    }
}
