.clients {
    width: 100%;
    margin: 0 0 70px;
    box-sizing: border-box;
    padding: 60px 10px 80px;
    background-color: #F6F6F6;

    .about__title {
        margin-bottom: 55px;
    }

    &__list-item {
        display: flex;
        position: relative;
        padding: 45px 20px 45px 0;
        align-items: baseline;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.65;
        letter-spacing: 0.04em;
        color: #000000;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            width: 104px;
            height: 0;
            border-bottom: 1px solid #DCE2E3;
        }

        &:last-of-type {
            padding-bottom: 0;

            &::after {
                display: none;
            }
        }

        &:first-of-type {
            padding-top: 0;

            .clients__decorated::before {
                content: none;
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translate(0, -50%);
                font-weight: 300;
                font-size: 20px;
                letter-spacing: 0.04em;
                color: #000000;
            }
        }
    }

    &__decorated {
        position: relative;
        padding-left: 30px;
        font-weight: 700;
        font-size: 100px;
        line-height: 1;
        letter-spacing: 0.04em;
        color: #F0BC5E;
    }
}

@media screen and (min-width: 768px) {

    .clients {
        padding: 60px 60px 70px;

        &__list {
            display: flex;
            flex-wrap: wrap;
        }

        &__list-item {
            width: 50%;
            padding: 0 0 30px;

            &:first-of-type {
                .clients__decorated {
                    &::before {
                        font-weight: 500;
                        font-size: 35px;
                        left: 0;
                    }
                }
            }

            &:last-of-type {
                width: 60%;
            }

            &::after {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .clients {
        padding: 70px 75px 125px;
        margin-bottom: 75px;

        &__list {
            justify-content: space-between;
        }

        .about__title {
            margin-bottom: 75px;
        }

        &__list-item {
            width: auto;
            justify-content: center;
            padding: 0 88px;

            &::after {
                display: block;
                width: 0;
                height: 200px;
                border-right: 1px solid #dce2e3;
                left: auto;
                right: 0;
                bottom: 50%;
                transform: translate(0, 50%);
            }

            .clients__decorated {
                padding-left: 0;
            }

            &:first-of-type {
                padding-left: 45px;

                .clients__decorated {
                    padding-left: 30px;
                }
            }

            &:last-of-type {
                width: auto;
            }
        }
    }
}
