.cooperation {
    margin-bottom: 70px;
    background-color: #F7F7F7;
    border-radius: 10px;
    overflow: hidden;

    &__title {
        padding: 42px 42px 32px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.65;
        text-align: center;
        color: #272727;
        letter-spacing: 0.03em;
    }

    &__link {
        display: block;
        width: 230px;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        font-size: 17px;
        line-height: 3;
        color: #272727;
        letter-spacing: 0.03em;
        background-color: #F2CB4D;
        border: none;
        border-radius: 500px;
        cursor: pointer;
        outline: none !important;
    }

    &__outline {
        @extend .cooperation__link;
        background-color: #fff;
        border: 1px solid #F2CB4D;
        width: auto;
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__decoration {
        position: relative;
        height: calc(40vw - 10px);
        background-image: url('../../img/cooperation-m.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    .cooperation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 78px;

        &__title {
            padding: 32px 0 40px 50px;
            width: 280px;
            font-size: 26px;
            line-height: 1.46;
            text-align: left;
        }

        &__link {
            margin: 0 0 38px 50px;
        }

        &__content {
            z-index: 2;
        }

        &__decoration {
            background-position: 100% 0;
            width: 414px;
            height: auto;
            background-image: url('../../img/cooperation.jpg');
        }

    }
}

@media screen and (min-width: 1440px) {
    .cooperation {
        margin-bottom: 84px;

        &__content {
            display: flex;
            align-items: center;
        }

        &__link {
            margin: 0;
        }

        &__title {
            box-sizing: content-box;
            padding: 47px 100px 47px 70px
        }

        &__decoration {
            width: 50%;
        }
    }
}
