.techical {
    padding: 0 0 40px;
    h3 {
        color: #4f5354;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 700;
        margin: 20px 0;
    }
    p {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 300;
        color: #000;
        letter-spacing: .04em;
        margin: 15px 0;
        a {
            outline: none;
            color: #4e4b4b;
            text-decoration: none;
            border-bottom: 1px solid #4e4b4b;
            &:hover{
                border-color: transparent;
            }
        }
    }
    img {
        vertical-align: top;
        max-width: 100%;
    }
}