.js-open-modal {
    cursor: pointer;
}

.modal {

    &__overlay {
        position: fixed;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        left: -10px;
        top: 0;
    }

}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 76px 40px;
    background-color: #fff;
    border-radius: 10px;

    &__title {
        margin-bottom: 50px;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0.05em;
        color: #272727;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        left: 0;
        clip: auto;
        margin: 0;
        z-index: 10;
        background-color: rgba(0,0,0,0.36);

        &.m-hidden {
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__btn {
        margin: 30px auto 0;
        padding: 20px 30px;
        text-align: center !important;
        width: auto;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.03em;
        color: #272727;
        background: #F2CB4D;
        border: none;
        border-radius: 500px;
        cursor: pointer;
        outline: none !important;

        &__small {
            margin: 5px auto 0;
            padding: 10px 20px;
        }
    }

    &__group {
        margin-bottom: 18px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__label {
        position: relative;
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    &__close {
        position: absolute;
        top: 18px;
        right: 18px;
        width: 11px;
        height: 11px;
        background-image: url('../../icon/cross.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__input {
        border: none;
        border-bottom: 1px solid #272727;
        width: 100%;
        &--textarea{
            border: 1px solid #272727;
            padding: 5px;
        }
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
        
        +label::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid #d0d0d0;
            border-radius: 2px;
            margin-right: 20px;
        }

        &:checked + label::after {
           content: '';
           width: 10px;
           height: 5px;
           border: 1px solid transparent;
           border-left: 1px solid #000;
           border-bottom: 1px solid #000;
           position: absolute;
           transform: rotate(-45deg);
           left: 4px;
           top: 5px;
        }
    }
    &__message{
        max-width: 400px;
        text-align: center;
        line-height: 24px;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        padding: 76px;
    }
}

@media screen and (max-width: 768px) {
    .modal {
        padding: 40px 20px;
        width: 80%;
    }
}
