.plus_minus {
    margin-top: 64px;
    margin-bottom: 80px;

    &>.about__title {
        margin-bottom: 20px;
        font-weight: 600;
    }

    &__line {
        .about__title {
            font-size: 20px;
            font-weight: 300;
            padding: 30px;
        }
    }

    &__panel {
        &__img {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &+.plus_minus__panel {
            margin-left: 20px;
        }
    }
}

.plus_minus__list {
    list-style: none;
    counter-reset: plus-minus-counter;
    margin-top: 40px;
    margin-bottom: 40px;

    li {
        counter-increment: plus-minus-counter;
        margin-bottom: 10px;
        min-height: 40px;
        line-height: 20px;
        padding-left: 45px;
        position: relative;
    }
    li::before {
        content: counter(plus-minus-counter);
        background: #F2CB4D;
        position: absolute;
        left: 0;
        top: -5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        line-height: 30px;
        color: white;
        text-align: center;
        margin-right: 0.5rem;
    }
}

.plus {
    .about__title {
        color: #fff;
        background-color: #f2cb4d;
    }

    .plus_minus__list {
        li::before {
            color: #fff;
            background-color: #f2cb4d;
        }
    }
}

.minus {
    .plus_minus__list {
        li::before {
            color: #fff;
            background-color: #ffd7df;
        }
    }
}

@media screen and (min-width: 768px) {
    .plus_minus {
        margin: 80px 20px 70px;

        &__line {
            display: flex;
            justify-content: center;

            .blue-info {
                width: 30%;

                &:last-of-type {
                    margin-bottom: 70px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .plus_minus {
        width: 1326px;
        margin: 80px auto 125px;

        &__panel {

        }

        &__button {
            text-align: center;
        }

        &__btn {
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }
    }
}
