.bank-logo {
    display: flex;
    width: 110px;
}

.cm-5 {
    margin: 5px;
}

.hidden {
    display: none !important;
}

.mobile-hidden {
    @media(max-width: 1199px) {
        display: none !important;
    }
}
