.accordion {
    &__items {
        margin-top: 30px;
    }
    &__item {
        margin-top: 20px;
        padding: 30px 20px;
        border: 1px solid rgba(darken(#F0BC5E, 30%), 0.2);
        border-radius: 10px;
        background-color: rgba(#F0BC5E, 0.2);

        @include m(767) {
            padding: 20px 13px;
        }
    }
    &__title {
        display: block;
        font-size: 18px;
        line-height: 1.54;
        letter-spacing: 0.04em;
        color: #272727;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 15px;
        padding-left: 40px;
        position: relative;
        user-select: none;

        @include m(767) {
            font-size: 16px;
            padding-left: 25px;
            margin-bottom: 10px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0.77em;
            left: 3px;
            width: 0;
            height: 0;
            border-left: 10px solid #272727;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid transparent;
            transform: translateY(-50%);
            opacity: 0.7;
            transition: 0.5s linear;
            transform-origin: 25% 50%;

            .accordion__item.active & {
                transform: translateY(-50%) rotate(90deg);
            }
            @include m(767) {
                border-left: 7px solid #272727;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-right: 7px solid transparent;
            }
        }
    }
    &__content {
        display: none;

        p, li {
            display: block;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #272727;

            @include m(767) {
                font-size: 14px;
            }
            b {
                font-weight: 600;
            }
            u {
                text-decoration: underline;
            }
        }
        ul {
            display: block;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }
        li {
            display: block;
            margin-top: 5px;
            padding-left: 17px;
            position: relative;

            &:first-child {
                margin-top: 0;
            }
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #272727;
                left: 0;
                top: 0.75em;
                transform: translateY(-50%);
            }
        }
        p {
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
