.finist__widget__iframe {
    width: 600px;
    max-width: 100%;
    min-height: 380px;
    border: 0;
}

@media screen and (max-width: 768px) {
    .finist__widget__iframe {
        min-height: 550px;
    }
}