.affiliate{
	*:focus{
		outline: none;
	}
	&-banner{
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #F7F7F7;
		margin: 0;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 12px;
		padding-right: 12px;
		margin-top: 19px;
		&__title{
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.4px;
			color: #272727;
			font-weight: 500;
		}
		&__desc{
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			letter-spacing: 0.8px;
			color: #272727;
			margin-top: 10px;
		}
		&__btn{
			display: inline-block;
			cursor: pointer;
			border: none;
			background: #F2CB4D;
			border-radius: 50px;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			letter-spacing: 0.005em;
			color: #272727;
			padding: 14px 40px;
			margin-top: 30px;
		}
	}
}
@media screen and (min-width: 768px) {
	.affiliate{
		&-banner{
			margin-top: 30px;
			padding-top: 69px;
			align-items: flex-start;
			// margin: 0 20px;
			// margin-bottom: 14px;
			// margin-top: 7px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 75px;
			background-image: url(/images/affiliate-banner.png);
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: right center;
			&__title{
				font-size: 26px;
				line-height: 32px;
			}
			&__desc{
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.5px;
				color: #272727;
				text-align: left;
				margin-top: 21px;
				max-width: 345px;
			}
			&__btn{
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				padding: 12px 30px;
				margin-top: 78px;
				letter-spacing: 0.5px;
			}
		}
	}
}

@media screen and (min-width: 1440px) {
	.affiliate{
		&-banner{
			margin-top: 24px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 10px;
			padding-left: 37px;
			padding-top: 52px;
			padding-bottom: 59px;
			background-image: url(../../img/affiliate/images/affiliate-banner-small.png);
			&__title{
				font-size: 34px;
				line-height: 42px;
			}
			&__desc{
				font-size: 16px;
				line-height: 26px;
				letter-spacing: 0.8px;
				max-width: 515px;
			}
			&__btn{
				margin-top: 110px;
				font-size: 17px;
				line-height: 21px;
				padding: 14px 50px;
			}
		}
	}
	// .breadcrumbs{
	// 	width: 1326px;
	// 	margin: 0 auto;
	// }
}
