.all-sorts {
    margin-top: 40px;
    padding: 20px 54px;
    background: #DCE2E3;
    border-radius: 10px;

    &__title {
        margin-bottom: 18px;
        font-size: 26px;
        line-height: 1.54;
        text-align: center;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: #272727;
    }

    &__link {
        display: block;
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 3.2;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: #272727;
    }
}

@media screen and (min-width: 768px) {
    .all-sorts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 80px;
        padding: 37px 60px;

        &__title {
            margin: 0;
        }
    }
}

@media screen and (min-width: 1440px) {
    .all-sorts {
        margin-top: 40px;
        padding-right: 110px;

        &__title {
            font-size: 34px;

        }
    }
}
