.for-free {
    margin: 0;
    padding: 46px 10px 40px;
    background-color: #DCE2E3;

    &__title {
        margin-bottom: 28px;
        font-size: 26px;
        line-height: 1.54;
        text-align: center;
        letter-spacing: 0.04em;
        color: #272727;
    }

    &__info {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        letter-spacing: 0.04em;
        color: #272727;
    }
}

@media screen and (min-width: 768px) {
    .for-free {
        margin: 0 20px;
        padding: 49px 20px 49px 60px;
        display: flex;
        border-radius: 10px;
        align-items: center;

        &__title {
            text-align: left;
            width: 50%;
            margin: 0;
            padding-right: 30px;
        }

        &__info {
            text-align: left;
            width: 50%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .for-free {
        width: 1326px;
        margin: 0 auto;
        padding: 45px 190px 45px 60px;

        &__title {
            font-size: 34px;
            line-height: 1.18;
            width: 367px;
            padding: 0;
            margin-right: 110px;
        }

        &__info {
            width: auto;
        }
    }
}
