.affiliate-process{
	margin-top: 50px;
	margin-bottom: 50px;
	&__title{
		font-size: 26px;
		line-height: 32px;
		font-weight: 500;
		letter-spacing: .5px;
		color: #272727;
		margin-bottom: 35px;
	}
	&__list{
		display: flex;
		justify-content: center;
		align-items: center;
		background: #e6eaf2;
		padding: 50px 0;
		border-radius: 10px;
	}
	&__block{
		display: flex;
		align-items: center;
	}
	&__item{
		width: 130px;
		height: 134px;
		background-color: #fff;
		font-size: 16px;
		border-radius: 8px;
		box-shadow: 0 0 11px 0 rgba(0, 0, 0, .08);
		display: flex;
	    justify-content: center;
	    align-items: flex-end;
	    padding-bottom: 27px;
	    text-align: center;
		&--big{
			width: 150px;
			height: 160px;
			padding-bottom: 24px;
		}
		&--yellow{
			color: #fff;
			background-color: #f2cb4d;
		}
	}
	&__block{
		&--column{
			flex-direction: column;
		}
		&.affiliate-process__block--column{
			.affiliate-process__item{
				width: 195px;
    			height: 75px;
    			align-items: center;
    			justify-content: flex-start;
    			text-align: left;
    			padding: 0 20px 0 77px;
			}
		}
	}
}

@media screen and (min-width: 768px) {}
@media screen and (min-width: 1440px) {}
