.steps{
	background: #F7F7F7;
	margin: 0;
	padding: 0 12px;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 34px;
	&__title{
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.5px;
		color: #272727;
	}
	&__items{
		margin-top: 39px;
		counter-reset: steps_counter;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item{
		text-align: center;
		position: relative;
		width: 255px;
		&:not(:last-child){
			margin-bottom: 42px;
		}
		&_name{
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.8px;
			color: #272727;
		}
		&_icon{
			margin-top: 32px;
		}
		&::after{
			content: '';
			background-image: url(/images/footnote.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			width: 255px;
			height: 64px;
			position: absolute;
			bottom: -12px;
			right: 0;
		}
		&::before{
			counter-increment: steps_counter;
			content: counter(steps_counter);
			position: absolute;
			bottom: -12px;
			right: 1px;
			width: 21px;
			height: 21px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			letter-spacing: 0.8px;
			color: #272727;
			font-weight: bold;
			z-index: 1;
		}
		&:nth-child(2n){
			&::after{
				content: '';
				transform: scale(-1, 1);
			}
			&::before{
				left: 2px;
				right: auto;
				bottom: -11px;
			}
		}
	}
	&__btn{
		display: inline-block;
		cursor: pointer;
		border: none;
		background: #F2CB4D;
		border-radius: 50px;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		letter-spacing: 0.005em;
		color: #272727;
		padding: 14px 65px;
		font-weight: 500;
		// width: 100%;
		margin-top: 37px;
	}
}

@media screen and (min-width: 768px) {
	.steps{
		padding-top: 40px;
		padding-bottom: 45px;
		// margin: 0 10px;
		&__title{
			text-align: center;
			font-size: 20px;
			line-height: 24px;
			.to_tablet{
				display: none;
			}
		}
		&__items{
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			width: 768px;
			height: 320px;
			position: relative;
			margin-top: 56px;
		}
		&__item{
			width: 200px;
			position: absolute;
			left: 700px;
			top: 700px;
			&__icon{
				margin-top: 35px;
			}
			&:after{
				// display: none;
				background-image: url(/images/footnote-tablet.svg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
				width: 158px;
				height: 64px;
				bottom: -15px;
				right: 4px;
			}
			&:before{
				bottom: -15px;
				right: 4px;
			}
			&:nth-child(2n){
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				&:before{
					right: 5px;
					top: -13px;
					bottom: auto;
					left: auto;
				}
				&:after{
					transform: scale(1, -1);
					bottom: 56px;
				}
				.steps__item_icon{
					margin-top: 0;
					margin-bottom: 37px;
				}
			}
			&:nth-child(1){
				left: -17px;
				top: 36px;
			}
			&:nth-child(2){
				left: 69px;
				top: 196px;
			}
			&:nth-child(3){
				left: 177px;
				top: -4px;			
			}
			&:nth-child(4){
				left: 286px;
				top: 196px;			
			}
			&:nth-child(5){
				left: 362px;
				top: 16px;
			}
			&:nth-child(6){
				left: 478px;
				top: 196px;		
			}
			&:nth-child(7){
				left: 560px;
				top: 16px;
			}
		}
		&__btn{
			margin-top: 34px;
			padding: 11px 31px;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: .45px;
		}
	}
}
@media screen and (min-width: 1440px) {
	.steps{
		width: 1326px;
		margin: 30px auto 35px;
		padding-top: 40px;
		padding-bottom: 48px;
		border-radius: 10px;
		&__title{
			font-size: 26px;
			line-height: 32px;
			text-align: left;
		}
		&__items{
			margin-top: 64px;
			height: 353px;
			width: 1267px;
		}
		&__item{
			width: 279px;
			&_name{
				font-size: 16px;
				line-height: 20px;
			}
			&_icon{
				margin-top: 60px;
				width: 40px;
				height: 40px;
				object-position: center;
				object-fit: contain;
			}
			&::before{
				// display: none;
				bottom: auto;
				top: 106px;
				right: -11px;
			}
			&::after{
				// display: none;
				background-image: url(/images/footnote-desk.svg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
				width: 255px;
				height: 64px;
				bottom: auto;
				top: 63px;
				right: -12px;			
			}
			&:nth-child(2n):before {
				right: -11px;
				top: -4px;
			}
			&:nth-child(2n):after {
				top: -5px;
			}
			&:nth-child(2n) .steps__item_icon {
				margin-bottom: 60px;
			}
			&:nth-child(1){
				left: -29px;
				top: -1px;			
			}
			&:nth-child(2){
				left: 174px;
				top: 210px;	
			}
			&:nth-child(3){
				left: 302px;
				top: -4px;		
			}
			&:nth-child(4){
				left: 505px;
				top: 210px;	
			}
			&:nth-child(5){
				left: 634px;
				top: -1px;	
			}
			&:nth-child(6){
				left: 835px;
				top: 210px;	
			}
			&:nth-child(7){
				left: 965px;
				top: -1px;	
			}
		}
		&__btn{
			margin-top: 46px;
			font-size: 17px;
			line-height: 21px;
			padding: 14px 50px;
		}
	}
}